body {
  color: #40514e;
  background-color: #D6EFED;
  margin: 0;
  text-align: center ;
  font-family:"Merriweather", serif;
}

h1 {
  color: #66BFBF;
  display: inline-block;
  font-size: 90px;
  margin-top: 50 auto 0 auto;
  font-family: "Sacramento", cursive;
  line-height: 2;

}

h2 {
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 25px 0;

}

h3 {
  color:#11999E;
  font-family: "Montserrat", sans-serif;



}
a {
  color: #119993;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover { color: #eaf6f6;}
p {

  font-family: Arial;
  line-height: 2;

}
hr {
  border: dotted #EAf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100 auto;
}
.top-container {
  background-color: #D6EFED;
  position: relative;
  padding-top: 100px;

}

.middle-container {


}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-bottom: 0;

}

.top-cloud {
  position: absolute;
  right: 325px;
  top: 125px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 125px;
}
.pro {
  text-decoration:underline;

}
.profile{
  width: 30%;
  margin: 100px auto 100px auto;

}
.contact-me {
  width: 30%;
  margin: 35px auto;

}
.footer-link {
  color: #11999E;
}
.skill-row {
  text-align: center;
  width: 30%;
  margin: 25px auto 100px auto;

  }
.computer {
  width:25%;
}

.email {
margin-bottom: 15px;}
.mountain {
display:none;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #eaf6f6;
  font: 0.75rem;
  padding: 20px 0 20px 0;
}
